<div class="header"></div>
<section class="body-section">
  <div id="navbar">
    <a class="mitem" href="store">Store</a>
    <a class="mitem" href="people">People</a>
    <a class="mitem" href="places">Places</a>
    <a class="mitem" href="Gammel_Index.html">Map</a>
    <a class="mitem larger" href="home">Welcome to <br><span id="stwld">The Streywild</span>
      <p></p>
    </a><a class="mitem" href="creatures">Creatures</a>
    <a class="mitem" href="pantheon">Pantheon</a>
    <a class="mitem" href="camsum">Summaries</a>
    <a class="mitem" href="hjelp">Help</a>
  </div>
</section>
