
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
	--black: #404231;

	/*c1*/
	--1c0: #7a8963;
	 --1c7: #5c674a;
	
	/*c2*/
	--2c1: #caccbc;
	
	/*c3*/
	 --3c-2: #f9e8d3;
   --3c5: #a58154;
	 --3c6: #8d6e48;
	  --3c8: #5e4930;
	
	/*c4*/
	 --4c0: #ececdc;
	
	/*c5*/
	 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}


#worldmap {
	position: relative;
	width: 100%;
	height: 100%;
}

.Imapg {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 0 20px;
  background: var(--2c1);
  color: var(--4c0);
}


div.scrollmenu {
	background-color: var(--1c7);
	overflow: auto;
	white-space: nowrap;
  }
  
  div.scrollmenu a {
	display: inline-block;
	color: var(--4c0);
	text-align: center;
	padding: 1em;
	text-decoration: none;
	font-size: 1em	;
  }
  
  div.scrollmenu a:hover {
	background-color: var(--3c8);
  }


  div.scrollmenu::-webkit-scrollbar-track
  {
	background-color: var(--2c1);
  }
  
  div.scrollmenu::-webkit-scrollbar
  {
	width: 12px;
	background-color: var(--2c1);
  }
  
  div.scrollmenu::-webkit-scrollbar-thumb
  {
	background-color: var(--1c7);
  }
  